@use "../abstracts/" as *;

.button {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &--small {
    font-size: small;
  }

  &--midium {
    font-size: medium;
  }

  &--large {
    font-size: large;
  }

  // 버튼 색상
  &--primary {
    color: $white;
    background-color: $primary;
  }

  &--secondary {
    color: $primary;
    background-color: $white;
    border: 1px solid $primary;
  }

  &--white {
    color: $btn-black;
    background-color: $white;
    border: 1px solid $btn-black;
  }

  &--icon-only {
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:disabled {
    color: $btn-gray;
    background-color: $btn-white;
  }
}

.btn-location {
  color: $btn-black;
}
