@use "../abstracts/" as *;

.button {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &--small {
        font-size: small;
    }

    &--midium {
        font-size: medium;
    }

    &--large {
        font-size: large;
    }

    // 버튼 색상
    &--primary {
        color: $white;
        background-color: $primary;
    }

    &--secondary {
        color: $primary;
        background-color: $white;
        border: 1px solid $primary;
    }

    &--white {
        color: $btn-black;
        background-color: $white;
        border: 1px solid $btn-black;
    }

    &--text {
        color: $btn-black;
        font-weight: $font-weight-semibold;
        background-color: transparent;
        border: none;
    }

    &--icon-only {
        padding: 1rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:disabled {
        color: $btn-gray;
        background-color: $btn-white;
    }
}

.btn-location {
    color: $btn-black;
    color: $btn-black;
}

.btn-searchbar {
    gap: 1rem;
    color: $btn-black;
    gap: 1rem;
    color: $btn-black;
}

.btn-top {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    cursor: pointer;
    z-index: 999;
}

.mypage__btn-menu {
    font-size: 2rem;
    padding: 1.6rem 2.4rem;
    width: 100%;
    text-align: start;
    &--active {
        font-size: 2rem;
        padding: 1.6rem 2.4rem;
        text-align: start;
        width: 100%;
        color: $secondary;
    }
}

// 모달 컨텐츠 버튼
.btn-content {
    border: 1px solid #e5e5e5;
    color: $black;

    &.active {
        border: 1px solid #f57b21;
        color: $secondary;
    }
}
