@use "../abstracts/" as *;

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  cursor: pointer;

  input {
    display: none; // 기존의 체크박스 스타일 제거
  }

  .checkmark {
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid $semi-black;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input:checked + .checkmark {
    background-color: $primary;
    border: 1px solid $primary;
  }

  .label // 텍스트(프로젝트에서는 사용 x)
  {
    font-size: 1.5rem;
    color: $black;
  }
}
