@use "../abstracts/" as *;

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  cursor: pointer;

  .checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  .checkmark {
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid $semi-black;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, border-color 0.2s;
  }

  // 체크 상태일 때 스타일 변경
  .checkbox-input:checked + .checkbox-label .checkmark {
    background-color: $primary;
    border: 1px solid $primary;
  }

  .label {
    font-size: 1.5rem;
    color: $black;
  }
}
