.chip__value {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &:checked + label {
        border: 1px solid #f57b21;
        color: #f57b21;
    }
}

label {
    border: 1px solid red;
    // line-height: 3.5rem;
    border-radius: 3rem;
    font-size: 14px;
    background-color: #fafafa;
    text-align: center;
    padding: 1rem 1.3rem;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}
