.chip__value {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1rem;

  &:checked + .chip__label {
    border: 0.1rem solid #f57b21;
    color: #f57b21;
  }
}

.chip__label {
  border: 0.1rem solid red;
  // line-height: 3.5rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  background-color: #fafafa;
  text-align: center;
  padding: 1rem 1.3rem;
  border: 0.1rem solid #e5e5e5;
  cursor: pointer;
}
