@use "../abstracts/" as *;
.detail__overview--optionbox-date {
}

.detail__overview--optionbox-size {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .detail__overview--optionbox-item {
    display: flex;
    justify-content: space-between;

    .site-name {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      color: $black1;

      .site-num {
        color: $gray3;
        font-size: 1.2rem;
      }
    }
    .site-count {
      font-size: 1.6rem;
      color: $black1;
    }
    .site-price {
      font-size: 1.6rem;
      color: $black1;
    }
  }
}
