@use "../abstracts" as *;
.account__input-container {
  display: flex;
  flex-direction: column;
}

.account__input-inner {
  display: flex;
  border: 1px solid $primary;
  gap: 0.8rem;
  background-color: white;
  width: 25rem;
  height: 4.6rem;
  border-radius: 2rem;
  padding: 1rem 1.2rem;

  img {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.account__input {
  width: 100%;
  color: black;
  line-height: 2rem;
  outline: none;
  border: none;
  font-size: 1.6rem;
}

.account__error {
  display: block;
  color: $red;
  font-size: 1.4rem;
  padding-left: 1rem;
  padding-top: 0.4rem;
  min-height: 2.4rem;
}
