@use "../abstracts/" as *;

.product {
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  padding: 1rem;
  position: relative;

  // 마이페이지용
  &--w26 {
    width: 26rem;
  }

  // 메인, 검색결과용
  &--w35 {
    width: 35rem;
  }

  &__image {
    width: 100%;
    height: 22rem;
    object-fit: cover;
    justify-content: center;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
  }

  .detail-list {
    padding: 1rem;
    text-align: left;

    &__title {
      color: $semi-black;
      font-weight: 600;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &--small {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
      &--large {
        font-size: 3.2rem;
        margin-bottom: 2rem;
      }
      &--chked {
        font-size: 1.6rem;
      }
    }

    &__text {
      font-size: 1.6rem;
      margin-bottom: 1.2rem;
      line-height: 2.6rem;

      &--gray {
        color: $gray3;
      }

      &--black {
        color: $semi-black;
        display: inline-block;
        margin-right: 0.4rem;
      }
    }

    // 가격
    &__price {
      font-weight: 600;
      font-size: 3.2rem;
      margin-right: 0.4rem;
      display: inline-block;

      // 기본
      &--def {
        color: $semi-black;
      }
      // 재고없음
      &--disabled {
        color: $gray4;
      }
      // 장바구니 전용
      &--rsv {
        color: $primary;
        font-size: 2.4rem;
      }
    }
    &__unit {
      font-size: 2.4rem;
      display: inline-block;

      &--def {
        color: $semi-black;
      }
      // 재고없음
      &--disabled {
        color: $gray4;
      }
      &--rsv {
        color: $primary;
      }
    }
    .checkbox-container {
      margin-bottom: 1.2rem;
    }
  }
}

// 리스트 : 플렉스 배열
.product-list {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 3.2rem 2.8rem;
  // flex: 1 1 0;
  // box-sizing: border-box;
  // margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  justify-content: center;
  gap: 2rem;
  row-gap: 5rem;
}
