@use "../abstracts" as *;

.all-campsite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > p {
    color: $secondary;
    margin-bottom: 2rem;
  }
  & > h3 {
    margin-bottom: 9rem;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(auto, 1fr);
    justify-content: center;
    gap: 3rem 1rem;
    // row-gap: 3rem;
    margin-top: 0;
    padding: 0;
    align-items: center;
  }
}
