@use "../abstracts/" as *;

.modal__overlay {
  border: #fff;
  background: #fff;
  border-radius: 1rem;

  animation: fadeIn 0.3s ease;
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-2rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}

.btn__container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

/* 이용약관 환불규정 모달 */

.cart__modal {
  display: flex;
  flex-direction: column;
  margin: 1.6rem;
  line-height: 1.5rem;
}

.cart__modal-title {
  font-size: 2.8rem;
  font-family: "BMDOHYEON";
  margin-block: 1.6rem;
}

.cart__modal-content-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-block: 1.6rem;
}

.cart__modal-list {
  display: flex;
  flex-direction: column;
  li {
    font-size: 2rem;
    line-height: 150%;
  }
}

// 결제 완료 모달
.cart__payment-complete-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 2.4rem;
  font-family: $title;
}

.cart__payment-complete-content {
  font-size: 1.6rem;
  margin-inline: 2.4rem;
  margin-bottom: 2.4rem;
}
