@use "../abstracts/" as *;

// 검색바
.search__bar {
  border-radius: 6.25rem;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100rem;
  padding: 1.5rem 2rem;
  flex-shrink: 0;
  gap: 1.5rem;
}

.content__name {
  font-size: 1.3rem;
  font-style: normal;
  line-height: 1.5rem;
}

// 지역 선택 모달
.modal__location {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 1rem;
  padding: 1rem;
  background: #fff;

  .modal__header {
    display: flex;
    align-items: center;

    .location__title {
      color: #212529;
      font-size: 2rem;
      font-weight: bold;
      line-height: 2rem;
    }
  }
  .location__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
}

// 캠핑 사이트 모달
.modal__site {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 1rem;
  padding: 1rem;
  background: #fff;

  .site__title {
    color: #212529;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
  }

  .site__container {
    display: grid;
    padding: 1.3rem;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }
}

// 상세 페이지 사이트 모달
.detail__modal-site {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 1rem;
  padding: 1rem;
  background: $white;
  width: 43rem;

  &--title {
    color: $semi-black;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
  }

  &--soldout {
    font-size: 1.8rem;
    text-align: center;
    margin: 8rem 0;
  }

  &--error {
    font-size: 1.8rem;
    text-align: center;
    margin: 8rem 0;
  }

  &--text {
    font-size: 1.8rem;
  }

  &--remaining {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;

    &.sold-out {
      color: $red; // 남은 자리가 0이면 빨간색으로 표시
    }
  }

  &--container {
    display: flex;
    font-size: 1.6rem;
    flex-direction: column;
    gap: 1.6rem;
  }
  &--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 2.9rem;
  }

  &--counterDiv.disabled {
    opacity: 0.3;
  }

  &--counter {
    font-size: 2.4rem;
    margin: 3rem;
  }
}
