// 검색바
.search__bar {
    border-radius: 6.25rem;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80rem;
    padding: 1.5rem 2rem;
    flex-shrink: 0;
    gap: 1.5rem;
}

.content__name {
    font-size: 1.3rem;
    font-style: normal;
    line-height: 1.5rem;
}

// 지역 선택 모달
.modal__location {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 1rem;
    padding: 1rem;
    background: #fff;

    .modal__header {
        display: flex;
        align-items: center;

        .location__title {
            color: #212529;
            font-size: 2rem;
            font-weight: bold;
            line-height: 2rem;
        }
    }
    .location__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }
}

// 캠핑 사이트 모달
.modal__site {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 1rem;
    padding: 1rem;
    background: #fff;

    .site__title {
        color: #212529;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2rem;
    }

    .site__container {
        display: grid;
        padding: 1.3rem;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
    }
}
