.select-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.4rem;
}

.option-list {
  width: 13rem;
  position: absolute;
  top: 4rem;
  z-index: 100;
  border-radius: 1.875rem;
  border: 1px solid rgba(245, 123, 32, 0.3);
  background: #fff;
  text-align: center;
  color: #6c6c6c;
  line-height: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.12rem;
  padding: 1rem;
  animation: fadeIn 0.3s ease;
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.option-item {
  padding-bottom: 0.69rem;
  border-bottom: 1px solid rgba(245, 123, 32, 0.3);
  cursor: pointer;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
}
