@use "../abstracts/" as *;

.cart {
  &__title {
    @include a11y-hidden;
  }

  &__list {
    display: grid;
    flex-wrap: wrap;
    gap: 2.8rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.cart__agreement {
  display: flex;
  gap: 0.8rem;
}

.cart__expected-payment {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  border: 1px solid $secondary;
  border-radius: 3rem;
  padding: 2rem;
  width: 50%;
  margin: 10rem auto;

  &-title {
    margin-block: 1.6rem;
    font-size: 2.4rem;
    font-weight: bold;
  }
}
