@use "../abstracts/" as *;

.account__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 25rem;
  padding: 50px 0px;
}

.account__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.account__img-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}

.hr-sect {
  display: flex;
  width: 100%;
  flex-basis: 100%;
  align-items: center;
  color: #ff4e01;
  font-size: 12px;
  margin: 15px 0px;
}

.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: #ff4e01;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

.account__form__password {
  position: relative;
}
