@use "../abstracts/" as *;

.account__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
  margin-bottom: 5rem;
  h2 {
    display: none;
  }
}

.account__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.account__profile-input {
  display: none;
}

.account__profile-label {
  display: block;
  width: 16rem;
  height: 16rem;
  color: black;
  img {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid $primary;
    border-radius: 50%;
    object-fit: cover;
    &:hover {
      cursor: pointer;
    }
  }
}

// "/src/images/ico_profile.svg"

.hr-sect {
  display: flex;
  width: 100%;
  flex-basis: 100%;
  align-items: center;
  color: #ff4e01;
  font-size: 12px;
  margin-top: 4rem;
}

.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: #ff4e01;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

.account__form__password {
  position: relative;
}
