@use "../abstracts/" as *;

.detail {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;

  .detail__overview {
    display: flex;
    gap: 5rem;
  }

  .detail__overview-image-box {
    display: flex;

    .detail__overview-image {
      width: 67rem;
      height: 50rem;
      border-radius: 1rem;
    }
  }

  .detail__overview-reserv {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    .detail__overview-reserv--title {
      font-size: 3rem;
      color: $black1;
      font-family: $title;

      .detail__overview-reserv--location {
        display: block;
        margin-bottom: 1rem;
        color: $secondary;
        font-size: 2rem;
        font-family: $title;
      }
    }

    .detail__overview-reserv--subtitle {
      display: inline-flex;
      align-items: center;
      font-size: 1.5rem;
      color: $semi-black;
      font-weight: 300;

      &::before {
        content: "";
        display: inline-block;
        height: 1.5rem;
        width: 3rem;
        @include background("ico_rightArrow2.svg", left center, null, contain);
      }
    }

    .detail__overview-reserv--campstyle {
      display: inline-flex;
      align-items: center;
      font-size: 1.5rem;
      color: $semi-black;
      font-weight: 300;

      &::before {
        content: "";
        display: inline-block;
        height: 1.5rem;
        width: 3rem;
        @include background("ico_rightArrow2.svg", left center, null, contain);
      }
    }

    .detail__overview-reserv--option {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .detail__overview-reserv--option-text {
        color: $secondary;
        font-size: 1.5rem;
        padding-left: 0.3rem;
      }

      .btn-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .btn-date {
          display: flex;
          align-items: center;
          gap: 1rem;
          .btn-date-title {
            color: $secondary;
            font-size: 1.5rem;
          }
        }
        .btn-date-result {
          font-size: 1.4rem;
          color: $gray2;
          margin-left: 4.5rem;
        }
      }

      .detail__overview-reserv--payment {
        display: inline-flex;
        // position: absolute;
        gap: 3rem;
        align-items: center;
        border-top: 0.1rem solid $secondary;
        justify-content: space-between;
        padding: 1rem 0;

        .detail__overview-reserv--payment-text {
          font-size: 1.2rem;
        }

        .detail__overview-reserv--payment-value {
          font-size: 2rem;
          color: $secondary;
        }
      }
    }
  }

  .detail__add-on {
    display: flex;
    gap: 5rem;
  }
}

// 옵션 상세페이지
.detail__overview--optionbox {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3rem;
  background-color: $box-primary;
  border-radius: 1.5rem;
  gap: 2rem;

  .detail__overview--optionheader {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;

    .detail__overview--optionbox-option {
      padding: 0.3rem 0.7rem;
      border: 0.05rem solid $gray3;
      border-radius: 3rem;
      background-color: $white;
      font-size: 1.3rem;
    }
  }
}
