@use "../abstracts" as *;

.account__etc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account {
  h2 {
    display: none;
  }
}

.account__img-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}

.btn__google {
  width: 100%;
}

.account__link {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.account__etc {
  width: 25rem;
  h2 {
    display: none;
  }
}

.account__icon,
.account__icon-slash {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8rem;
  &:hover {
    cursor: pointer;
  }
  @include background("ico_eye.svg", center center, null, contain);
}

.account__icon-slash {
  @include background("ico_eye-slash.svg", center center, null, contain);
}
