@use "../abstracts/" as *;
.mypage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
}

.mypage__inner {
  display: grid;
  width: 100%;
  grid-template-columns: min-content 1fr;
  gap: 2.8rem;
  margin-top: 5rem;
}

.mypage__title {
  font-size: 3.6rem;
  font-weight: bold;
  margin: 2.4rem;
}

.mypage__hr {
  width: 70%;
  height: 0.1rem;
  background-color: $gray4;
  border: 0;
}
