@use "../abstracts/" as *;
.mypage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage__inner {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2.8rem;
  padding-top: 5rem;
  border-top: 1px solid $gray4;
}

.mypage__title {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: $title;
  margin: 2.4rem;
}
