@use "../abstracts/" as *;
.mypage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150rem;
}

.mypage__inner {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr 15.2rem;
  gap: 2.8rem;
  width: 100%;
  padding-top: 5rem;
  border-top: 0.1rem solid $gray4;
}

.mypage__title {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: $title;
  margin: 3.2rem;
}
