@use "../abstracts" as *;

.reservation {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.6rem;

  &__title {
    @include a11y-hidden;
  }

  &__list {
    display: grid;
    gap: 2.8rem;
    grid-template-columns: repeat(4, 1fr);
    width: min-content;
  }

  &__no-item {
    font-size: 2rem;
    color: $gray3;
  }
}

.modal__rsvcancel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 1rem;
  padding: 1rem;
  background: #fff;

  &-title {
    color: $semi-black;
    font-size: 2rem;
    font-weight: bold;
  }

  &-content {
    margin: 2rem 0;
    line-height: 2.4rem;
    font-size: 1.6rem;
  }
}
