@use "../abstracts/" as *;

.wrapper-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;

  .section-title {
    @include a11y-hidden;
  }
}

.search-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  .header-count {
    color: #6c6c6c;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
  }

  .header-select {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
