@use "./variables" as *;

@mixin horizontal-scroll {
  max-width: 100%;
  overflow-x: hidden;
}

@mixin border($position, $color) {
  @if ($position == "all") {
    border: 1px solid $color;
  } @else if($position == "top") {
    border-top: 1px solid $color;
  } @else if($position == "right") {
    border-right: 1px solid $color;
  } @else if($position == "bottom") {
    border-bottom: 1px solid $color;
  } @else if($position == "left") {
    border-left: 1px solid $color;
  }
}

@mixin bg($image) {
  background: url("/images/#{$image}.svg") no-repeat;
}

@mixin bgCenter($image) {
  background: url("/images/#{$image}.svg") no-repeat center;
}
