$primary: #ff4e02;
$secondary: #f57b21;
$white: #ffffff;
$black: #000000;
$semi-black: #212529;
$white: #fff;

$gray1: #333;
$gray2: #5b5b5b;
$gray3: #828282;
$gray4: #c4c4c4;
$gray5: #e0e0e0;

// $titleFont: "Bebas Neue", sans-serif;
