@use "../abstracts/" as *;
.header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 3.8rem;
  background-color: white;
  z-index: 10000;
  justify-content: space-between;

  &--hide {
    display: none;
  }
}
